# Byte-compiled files
*.py[cod]
__pycache__/
*.so

# Virtual environments
venv/
ENV/
env/
# Exclude Python virtual environments and site-packages
*/lib/python*/site-packages/
# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db